#new-rules {
  margin: 0;
}

#new-rules .panel-heading {
  font-weight: bold
}

#new-rules .panel-heading, #new-rules .list-group-item {
  padding: 5px 10px;
}

#new-rules .list-group {
  height: 100px;
  overflow-y: auto;
}

.new-rule {
  width: calc(100% - 15px);
}