/*Main*/

#main {
	position: relative;
}

#covear {
	position: absolute;
	top: -16px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: 1001;
}

.accordion-title {
	padding-top: 10px;
	padding-bottom: 1px;
}

.accordion-title, .accordion-content {
	overflow-x: hidden;
}

#party a, .pokemon .level, .pokemon:not(#add-pokemon-card) .card-section {
	visibility: hidden;
}

/*New Game*/

#rules {
	height: 100px;
}

/*Title*/

#rules-dropdown {
	width: 200px;
	max-height: 100px;
	overflow-y: auto;
	word-wrap: break-word;
}

/*Journal*/

#journal-section {
	position: relative;
	background: whitesmoke;
	padding-top: 27px;
	border: 1px solid gray;
}

#journal-container {
	background: white;
	height: 217px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-top: 1px solid gray;
}

#journal-container thead, #journal-container tbody {
	border: none;
}

#journal-container th {
	padding: 0;
	width: 25%;
}

#journal-container th:last-child {
	width: 50%;
}

#journal-container th div {
	position: absolute;
	top: 0;
	padding: 2px 5px;
	border-left: 1px solid gray;
}

#journal-container th:first-child div {
	border: none;
}

#journal-container td {
	border-bottom: 1px solid gray;
	padding: 2px 5px;
}

#journal-container td + td {
	border-left: 1px solid gray;
}

#journal-container td:nth-child(3) {
	word-break: break-word;
}

/*Add Pokemon*/

#test::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em; 
}

/*Pokemon tabs and panels*/

.tabs a {
	padding: 10px;
}

.tabs * {
	margin: 0;
}

.tabs-title {
	border: 1px solid whitesmoke;
}

.slot-details {
	max-width: calc(100% - 56px);
}

.slot-name:first-child { /*first child overrides foundation*/
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#party {
	margin-right: 10px;
}

#party li, #pc li, #cemetery li {
	width: 100%;
}

#pc-container, #cemetery-container {
	border: 1px solid gray;
	height: 470px;
	width: 100%;
	overflow-y: scroll;
}

@media screen and (max-width: 39.9375em) {
	#party li, #pc li, #cemetery li {
		width: 50%;
	}
	
	#pc-container, #cemetery-container {
		height: 161px;
	}
}

/*Pokemon cards*/

#party-pokemon .card-divider {
	background: #b3b3ff;
}

#pc-pokemon .card-divider {
	background: #ffffb3;
}

#cemetery-pokemon .card-divider {
	background: #e6e6e6;
}

#add-pokemon .card-divider {
	background: #b3ffb3;
}

.pokemon {
	border: 1px solid gray;
	margin: 0;
}

.pokemon .card-divider {
	padding: 10px;
}

.pokemon:not(#add-pokemon-card) .card-divider *,
.pokemon .card-section .media-object  {
	margin: 0;
}

.sprite {
	width: 200px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sprite img {
	display: block;
	margin: auto;
	position: relative;
	top: 100px;
	transform: translate(0, -50%);
	width: auto;
}

#party-options-dropdown, #pc-options-dropdown {
	width: 150px;
	padding-bottom: 0;
}

/*Other*/

.button.warning, .button.warning:hover, .button.warning:focus,
.button.success, .button.success:hover, .button.success:focus {
	color: white;
}

.reveal {
	padding-bottom: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-bottom {
	margin-bottom: 16px;
}

#footer {
	font-size: 12px;
	margin: 0;
}

.button.combobox::after {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}