#footer, .reveal .button {
	margin: 0;
}

#main {
	position: relative;
}

#cover {
	position: absolute;
	top: -16px;
	bottom: 0px;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1001;
}

#info {
	text-align: center;
}

#buttons button, #party button {
	margin: 8px 0 8px 0;
}

#journal {
	border: 1px solid gray;
	height: 375px;
	overflow-y: auto;
}

#journal .row {
	display: flex;
}

#journal .row div {
	border: 1px solid gray;
	word-wrap: break-word;
}

#journalHeader {
	background-color: whitesmoke;
}

.tabs-title {
	border: 1px solid whitesmoke;
}

#pokemon-tabs a {
	padding: 10px;
}

.tabs *, #party, #party p, #pc p, #cemetery p {
	margin: 0;
}

#party-tabs p:nth-child(3), #party, #pc, #cemetery {
	visibility: hidden;
}

#party-tabs li {
	width: 33%;
	text-align: center;
}

#party-tabs a {
	padding: 5px;
}

.animate {
	height: 200px;
	width: 200px;
}

.animate img {
	position: relative;
	top: 100px;
	transform: translate(0, -50%);
}

#partyOptions {
	width: 350px;
}

/*scombobox style overrides*/
/*.scombobox {
	position: relative;
	margin: 0px;
}

.scombobox-display {
    width: 100%;
	height: 2.4375rem;
    padding: 2px 19px 2px 4px;
    border: 1px solid #CCC;
	border-radius: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.scombobox-dropdown-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
	background: initial;
    border: 1px solid #CCC;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}*/