.no-margin {
  margin: 0;
}

.row-no-padding > div:first-child {
  padding-right: 0;
}

.row-no-padding > div:last-child {
  padding-left: 0;
}

.modal-2nd {
  z-index: 1050;
}.combobox {
  position: relative;
}

.combobox .input-group {
  width: 100%;
}

.combobox-dropdown {
  position: absolute;
  width: 100%;
  z-index: 9001;
}

.combobox-dropdown .list-group-item {
  padding: 5px;
}.btn {
  transition:
    color ease-in-out .15s,
    border-color ease-in-out .15s,
    background-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}

.has-error .btn {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

.has-error .btn:hover {
  background-color: #e8caca;
}

.has-error .btn:active {
  background-color: #d8a6a6;
}

.has-success .btn {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}

.has-success .btn:hover {
  background-color: #c1e3b5;
}

.has-success .btn:active {
  background-color: #a2d590;
}#new-rules {
  margin: 0;
}

#new-rules .panel-heading {
  font-weight: bold
}

#new-rules .panel-heading, #new-rules .list-group-item {
  padding: 5px 10px;
}

#new-rules .list-group {
  height: 100px;
  overflow-y: auto;
}

.new-rule {
  width: calc(100% - 15px);
}#main {
  position: relative;
}

#cover {
  position: absolute;
  width: 100%;
  top: -20px;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 100;
}#journal .panel-title {
  font-size: 24px;
}

#info {
  white-space: nowrap;
}

#info * {
  overflow: hidden;
  text-overflow: ellipsis;
}

#rules {
  height: 100px;
  overflow-y: auto;
}

.virtual-table .ReactVirtualized__Table__headerRow {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.virtual-table .ReactVirtualized__Table__Grid {
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
}

.virtual-table .ReactVirtualized__Table__row {
  border-bottom: 1px solid #ddd;
}

#export {
  resize: none;
}#current-location {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}/* Sticky Table */

.sticky-table {
  margin: 0;
}

.sticky-table table {
  table-layout: fixed;
}

.sticky-table > thead > tr > th, .sticky-table > tbody > tr > td {
  padding: 0;
}

/* Sticky thead */

.sticky-thead {
  width: calc(100% - 18px);
  margin: 0;
  border: 0;
}

table.table.sticky-thead {
  background-color: unset;
}

.sticky-thead > thead > tr > th {
  border-bottom: 0;
}

.sticky-thead th:first-child, .sticky-tbody td:first-child {
  border-left: 0;
}

.sticky-thead th:last-child {
  border-right: 0;
}

/* Sticky tbody */

.sticky-tbody {
  overflow-y: scroll;
  word-wrap: break-word;
}

.sticky-tbody > table {
  border: 0;
  margin: 0;
}#menu > .panel > .panel-heading > .panel-title {
  font-size: 24px;
}.poke-slot {
  text-align: left;
  margin: 0;
}

.poke-slot .media-left {
  position: relative;
}

.slot-item {
  position: absolute;
  left: 30px;
  top: 30px;
}.sprite .panel-body {
  text-align: center;
  height: 200px;
}

.sprite .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sprite img {
  vertical-align: middle
}#boxes {
  width: calc(100% - 310px);
}

#summary-button {
  display: none;
}

@media (max-width: 500px) {
  #boxes {
    width: 100%;
  }

  #boxes-card {
    display: none;
  }

  #summary-button {
    display: block;
  }
}.box {
  width: 100%;
  margin: 0;
}

.box > div {
  height: 319px;
  overflow-y: auto;
}.poke-card {
  width: 300px;
  margin: auto;
}

.poke-card h4, .poke-card .sprite, .poke-card .table {
  margin: 0;
}

.poke-card tr:first-child th, .poke-card tr:first-child td {
  border-top: 0;
}

.poke-card .name, .poke-card .location {
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poke-card .gender {
  position: relative;
  top: -5px;
}

.poke-card .shiny {
  color: red;
}

.poke-card td {
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poke-card .tab-pane:nth-child(2) {
  margin-top: 16px;
  height: 434px;
}

.poke-card .cause {
  white-space: normal;
  padding-bottom: 0;
}

.poke-card .cause div {
  height: 59px;
  overflow: hidden;
}#change .panel-body {
  height: 100px;
  overflow-y: auto;
}.switch .active {
  background: #c1e3b5;;
}

.switch .active:hover {
  background: #a2d590;
}

#move-pc {
  height: 319px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}#footer {
  margin: 0;
  font-size: 12px;
  word-wrap: break-word;
}