#add-pokemon {
  margin: 0;
}

#add-pokemon .panel-heading {
  background: #b3ffb3;
}

#add-pokemon .media, #add-pokemon .media-body {
  overflow: visible;
}

.sprite .panel-body {
  text-align: center;
  height: 200px;
}

.sprite .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sprite img {
  vertical-align: middle
}

#add-location .form-group {
  width: 50%;
}

#add-location input {
  width: 100%;
}