#add-pokemon {
  margin: 0;
}

#add-pokemon .panel-heading {
  background: #b3ffb3;
}

#add-pokemon .media, #add-pokemon .media-body {
  overflow: visible;
}

#add-pokemon .thumbnail {
  height: 200px;
}

#add-pokemon .thumbnail img {
  position: relative;
  top: 95px;
  transform: translate(0, -50%);
}

#add-location .form-group {
  width: 50%;
}

#add-location input {
  width: 100%;
}