.poke-card {
  width: 300px;
  margin: auto;
}

.poke-card h4, .poke-card .sprite {
  margin: 0;
}

.poke-card tr:first-child th, .poke-card tr:first-child td {
  border-top: 0;
}

.poke-card .name {
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poke-card .gender {
  position: relative;
  top: -5px;
}

.poke-card .shiny {
  color: red;
}

.poke-card td {
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poke-card .tab-pane:nth-child(2) {
  margin-top: 16px;
  height: 420px;
}