.poke-card {
  width: 320px;
  margin: 0;
}

@media (max-width: 530px) {
  .poke-card {
  }
}

.poke-card .panel-heading *, .poke-card .sprite, .poke-card .table {
  margin: 0;
}

.poke-card .name {
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poke-card .gender {
  position: relative;
  top: -4px;
}

.poke-card .shiny {
  color: red;
}