#info {
  padding-right: 0;
}

#info .panel-title {
  font-weight: bold;
}

#info .panel-title, #rules .panel-title {
  font-size: 24px;
}

#info .panel-heading, #info h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rules {
  padding-left: 0;
}

#rules .list-group {
  height: 98px;
  overflow-y: auto;
}

#rules .list-group-item {
  padding: 5px 10px;
}