#cemetery {
  margin: 0;
}

#cemetery .pull-left {
  width: calc(100% - 335px);
}

#cemetery-tabs {
  height: 550px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}