#boxes {
  width: calc(100% - 310px);
}

#summary-button {
  display: none;
}

@media (max-width: 500px) {
  #boxes {
    width: 100%;
  }

  #boxes-card {
    display: none;
  }

  #summary-button {
    display: block;
  }
}