#new-rules-panel {
  margin: 0;
}

#new-rules-panel .panel-heading {
  font-size: 14px;
  font-weight: bold;
}

#new-rules-panel .panel-heading, #new-rules-panel .list-group-item {
  padding: 5px 10px;
}

#new-rules-panel .list-group {
  height: 100px;
  overflow-y: scroll;
}

#new-rules-panel button {
  padding: 0;
  border: 0;
}

#new-rules-panel .panel-body {
  display: none;
}