html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-size: 12px;
}

.panel-heading {
  font-size: 24px;
}

.table-fixed thead {
  width: calc(100% - 17px);
}

.table-fixed tbody {
  height: 200px;
  overflow-y: scroll;
  width: 100%;
  border-top: 1px solid #ddd;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody tr td, .table-fixed thead tr th {
  float: left;
  border-left: 0;
}

.table-fixed thead tr th {
  border-bottom: 0;
}

.table-fixed tr:nth-child(odd) td {
  background: whitesmoke;
}

.table-fixed td:last-child, .table-fixed th:last-child {
  border-right: 0;
}

@media (max-width: 530px) {
  .hidden-xxs {
    display: none;
  }
}