.sticky-table {
  border: 1px solid #ddd;
}

.sticky-table table {
  table-layout: fixed;
}

.sticky-table .header {
  width: calc(100% - 17px);
}

.sticky-table .body {
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #ddd;
}

.sticky-table thead tr th, .sticky-table td {
  word-wrap: break-word;
  border: 0;
}