#journal .panel-heading {
  font-size: 24px;
}

#current-location {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.virtual-table .ReactVirtualized__Table__headerRow {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.virtual-table .ReactVirtualized__Table__Grid {
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
}

.virtual-table .ReactVirtualized__Table__row {
  border-bottom: 1px solid #ddd;
}
