.combobox {
  position: relative;
}

.combobox.has-error button {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

.combobox.has-success button {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}

.combobox-dropdown {
  position: absolute;
  width: 100%;
  z-index: 9001;
  max-height: 150px;
  overflow-y: auto;
}

.combobox-dropdown .list-group-item {
  padding: 5px;
}